.currentWeather {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.location {
  font-size: 24px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.condition {
  font-size: 18px;
  margin-bottom: 10px;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.details {
  font-size: 16px;
}

.label {
  font-weight: bold;
}